.App {
  font-family: sans-serif;
  text-align: center;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}

.box:nth-child(even) {
  background-color: #ccc;
  color: #000;
}

.wrapper {
  width: 900px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 200px);
  height: 500px;
  overflow-y: hidden;
  overflow-x: hidden;
}
.wrapper:hover {
  overflow-y: auto;
}

.current-answer {
  color: red;
}

.current-question {
  color: red;
}

.selected {
  border: 1px solid white;
}

.used {
  color: #999;
}
